.video-container-grandfather {
    height: 100vh;
    width: 100vw;

    display: grid;
    place-items: center;
}

.video-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.big-box {
    height: 100%;
    width: 100%;
    background-color: #3498db; /* Background color of the big box */
    position: absolute;
}

.small-box {
    width: 20%; /* Adjust the width of the small box as per your requirement */
    height: 20%; /* Adjust the height of the small box as per your requirement */
    background-color: #e74c3c; /* Background color of the small box */
    position: absolute;
    bottom: 0;
    right: 0;
}
